.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: #ffffff;
}

.search-form svg {
  display: block;
  width: 28px;
  height: 28px;
}

.search-form:focus-within {
  border: 1px solid #08587d;
  box-shadow: 0px 4px 16px rgba(8, 88, 125, 0.6);
}

.search-form-button {
  padding: 8px;
  color: #18819e;
  border: none;
  background-color: transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form-button:hover,
.search-form-button:focus-visible {
  color: #08587d;
  outline: none;
}

.search-form-input {
  display: block;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 26px;
  color: #18819e;
  border: none;
  outline: none;
}
