.for-container {
  position: fixed;
  right: -100px;
  bottom: 30px;
  padding: 8px 12px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #18819e;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.for-container:hover,
.for-container:focus-visible {
  background-color: #08587d;
  box-shadow: 0px 4px 16px rgba(8, 88, 125, 0.6);
  outline: none;
}

.for-container > svg {
  display: block;
  width: 20px;
  height: 20px;
}
.for-transition {
  right: 30px;
}

@media screen and (max-width: 767px) {
  .for-container {
    bottom: 80px;
  }
}
