@import-normalize;

*,
h1 {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #111111;
  background-color: #555555;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
}

ul,
ol {
  list-style: none;
}

picture,
img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  cursor: pointer;
}
