@import-normalize;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #212121;
  background-color: #6e6e6e;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
}

ul,
ol {
  list-style: none;
}

picture,
img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
